.footer {
  padding: 70px 0;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-social img {
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.footer-social img:hover {
  transform: translateY(-10%);
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 30px;
  max-width: 585px;
}

/* Adaptive */

@media (max-width: 768px) {
  .footer-social {
    justify-content: center;
  }
  .footer-info {
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
  }
}
