.section-feedback {
  display: flex;
  align-items: center;
  max-height: 750px;
  height: 100vh;
  background-image: image-set(
    url(../../images/contacts/contact-form-bg.jpg) 1x,
    url(../../images/contacts/contact-form-bg@2x.jpg) 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-feedback-title {
  font-size: clamp(48px, 40px + 2.5vw, 70px);
  font-family: var(--font-family-accent);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--color-accent);
  max-width: 585px;
  margin: 0 auto;
}
