.section {
  padding: 150px 0;
}
.section-header {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.section-header-groups {
  max-width: 560px;
}
.section-title {
  color: var(--color-accent);
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem);
  letter-spacing: 0.08em;
}

.section-header p {
  line-height: 2;
}

.section-trainers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 32px;
}

.section-groups-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 150px 30px;
}

/* Adaptive */

@media (max-width: 1024px) {
  .section-groups-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 30px;
  }
}

@media (max-width: 769px) {
  .section {
    padding: 100px 0;
  }
  .section-trainers-grid,
  .section-groups-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 30px;
  }
}

@media (max-width: 426px) {
  .section {
    padding: 80px 0;
  }
  .section-header p {
    font-size: 14px;
  }
  .section-trainers-grid,
  .section-groups-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 30px;
  }
}
