/* Fonts */

@import "../fonts/bebasneue/bebasneue.css";
@import "../fonts/roboto/roboto.css";

/* Base */

@import "./base/reset.css";
@import "./base/base.css";

/* Blocks */

@import "./blocks/header.css";
@import "./blocks/sections.css";
@import "./blocks/card-trainer.css";
@import "./blocks/section-beast.css";
@import "./blocks/card-group.css";
@import "./blocks/section-feedback.css";
@import "./blocks/feedback-form.css";
@import "./blocks/footer.css";
